mixin favorites
  .favorites-popup
    .favorites-popup-wrapp
      .favorites-popup__head
        .property-title
          p Favorites
        .favorites-popup__close
          a(href="#")
            span
            span
      .favorites-popup__body-wrapp
        .favorites-popup__body(data-simplebar)
          .favorites-popup__list
            .favorites-popup__item
              .favorites-popup__item-head
                .favorites-popup__item-img
                  img(src="assets/img/contents/villa.jpg", alt="Image")
                .favorites-popup__item-label
                  .favorites-popup__item-label-text.text-uppercase
                    p For sale
                  .favorites-popup__item-delete
                    a(href="#")
                      img(src="assets/img/icons/delete.svg", alt="Icon")
                .favorites-popup__item-location-wrapp
                  .favorites-popup__item-location
                    .favorites-popup__item-location-icon
                    .favorites-popup__item-location-title.text-uppercase
                      p nice
                  .favorites-popup__item-desc
                    p 6-Bed Hidden Villa on a Private Hilltop In Nice
              .favorites-popup__item-footer
                .favorites-popup__item-footer-link.text-uppercase
                  a(href="#") request
                .favorites-popup__item-footer-link.text-uppercase
                  a(href="#") VIEW →
            .favorites-popup__item
              .favorites-popup__item-head
                .favorites-popup__item-img
                  img(src="assets/img/contents/villa.jpg", alt="Image")
                .favorites-popup__item-label
                  .favorites-popup__item-label-text.text-uppercase
                    p For sale
                  .favorites-popup__item-delete
                    a(href="#")
                      img(src="assets/img/icons/delete.svg", alt="Icon")
                .favorites-popup__item-location-wrapp
                  .favorites-popup__item-location
                    .favorites-popup__item-location-icon
                    .favorites-popup__item-location-title.text-uppercase
                      p nice
                  .favorites-popup__item-desc
                    p 6-Bed Hidden Villa on a Private Hilltop In Nice
              .favorites-popup__item-footer
                .favorites-popup__item-footer-link.text-uppercase
                  a(href="#") request
                .favorites-popup__item-footer-link.text-uppercase
                  a(href="#") VIEW →
            .favorites-popup__item
              .favorites-popup__item-head
                .favorites-popup__item-img
                  img(src="assets/img/contents/villa.jpg", alt="Image")
                .favorites-popup__item-label
                  .favorites-popup__item-label-text.text-uppercase
                    p For sale
                  .favorites-popup__item-delete
                    a(href="#")
                      img(src="assets/img/icons/delete.svg", alt="Icon")
                .favorites-popup__item-location-wrapp
                  .favorites-popup__item-location
                    .favorites-popup__item-location-icon
                    .favorites-popup__item-location-title.text-uppercase
                      p nice
                  .favorites-popup__item-desc
                    p 6-Bed Hidden Villa on a Private Hilltop In Nice
              .favorites-popup__item-footer
                .favorites-popup__item-footer-link.text-uppercase
                  a(href="#") request
                .favorites-popup__item-footer-link.text-uppercase
                  a(href="#") VIEW →
          
            .favorites-popup__item
              .favorites-popup__item-head
                .favorites-popup__item-img
                  img(src="assets/img/contents/villa.jpg", alt="Image")
                .favorites-popup__item-label
                  .favorites-popup__item-label-text.text-uppercase
                    p For sale
                  .favorites-popup__item-delete
                    a(href="#")
                      img(src="assets/img/icons/delete.svg", alt="Icon")
                .favorites-popup__item-location-wrapp
                  .favorites-popup__item-location
                    .favorites-popup__item-location-icon
                    .favorites-popup__item-location-title.text-uppercase
                      p nice
                  .favorites-popup__item-desc
                    p 6-Bed Hidden Villa on a Private Hilltop In Nice
              .favorites-popup__item-footer
                .favorites-popup__item-footer-link.text-uppercase
                  a(href="#") request
                .favorites-popup__item-footer-link.text-uppercase
                  a(href="#") VIEW →
          
            .favorites-popup__item
              .favorites-popup__item-head
                .favorites-popup__item-img
                  img(src="assets/img/contents/villa.jpg", alt="Image")
                .favorites-popup__item-label
                  .favorites-popup__item-label-text.text-uppercase
                    p For sale
                  .favorites-popup__item-delete
                    a(href="#")
                      img(src="assets/img/icons/delete.svg", alt="Icon")
                .favorites-popup__item-location-wrapp
                  .favorites-popup__item-location
                    .favorites-popup__item-location-icon
                    .favorites-popup__item-location-title.text-uppercase
                      p nice
                  .favorites-popup__item-desc
                    p 6-Bed Hidden Villa on a Private Hilltop In Nice
              .favorites-popup__item-footer
                .favorites-popup__item-footer-link.text-uppercase
                  a(href="#") request
                .favorites-popup__item-footer-link.text-uppercase
                  a(href="#") VIEW →