extends ../main-layout

block variables
  - 
    var title = "Locations";

block content
  include ../components/header
  +header('locations')
  main.main(role="main")
    section.locations
      .container-fluid
        .row
          .col-12
            ul.locations__list.d-flex.flex-wrap
              li.locations__item.linear-bg
                .locations__item-img(style="background-image:url('assets/img/contents/bali.jpg');")
                .locations__item-link
                  a(href="#").text-center
                    p.text-uppercase Nice
              li.locations__item.linear-bg
                .locations__item-img(style="background-image:url('assets/img/contents/nice.jpg');")
                .locations__item-link
                  a(href="#").text-center
                    p.text-uppercase Moncao
              li.locations__item.linear-bg
                .locations__item-img(style="background-image:url('assets/img/contents/nice.jpg');")
                .locations__item-link
                  a(href="#").text-center
                    p.text-uppercase St.Tropez
              li.locations__item.linear-bg
                .locations__item-img(style="background-image:url('assets/img/contents/nice.jpg');")
                .locations__item-link
                  a(href="#").text-center
                    p.text-uppercase Cannes
              li.locations__item.linear-bg
                .locations__item-img(style="background-image:url('assets/img/contents/nice.jpg');")
                .locations__item-link
                  a(href="#").text-center
                    p.text-uppercase Anitbes
              li.locations__item.linear-bg
                .locations__item-img(style="background-image:url('assets/img/contents/nice.jpg');")
                .locations__item-link
                  a(href="#").text-center
                    p.text-uppercase Valbonne
              li.locations__item.linear-bg
                .locations__item-img(style="background-image:url('assets/img/contents/nice.jpg');")
                .locations__item-link
                  a(href="#").text-center
                    p.text-uppercase 
                      | Saint - Jean
                      br
                      | Cap - Ferrat